<%- include("./includes/head.ejs") %> 
<%- include("./includes/header.ejs") %>
<%- include("./includes/navbar.ejs") %>
<!-- main template -->

<div class="d-flex align-items-center justify-content-center flex-column">
    <h1 class="text-center my-5 error_500 text-dark">خطایی رخ داده است</h1>
    <img src="../assets/image/error.jpg" class="w-25" alt="404">
</div>

<%- include("./includes/end.ejs") %>
