<%- include("./includes/head.ejs") %> 
<%- include("./includes/header.ejs") %>
<%- include("./includes/navbar.ejs") %>

<section class="section_main">
  <div class="card">
    <h5>عنوان</h5>
    <img src="./assets/image/clean.jpg" alt="image" />
    <p>100.000</p>
    <h6>توضیحات</h6>
    <button>جزییات</button>
  </div>
</section>

<%- include("./includes/end.ejs") %>
