<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
        <div class="title">
            <h1>فروشگاه الکترونیک</h1>
            <h3>فروشگاه الکترونیک با استفاده از Node Js , MongoDB</h3>
        </div>
    </header>
    <nav class="navbar">
        <a href="#">لینک</a>
    </nav>
    <section class="section_main">
        <div class="card">
            <h5>عنوان</h5>
            <img src="./assets/image/clean.jpg" alt="image">
            <p>100.000</p>
            <h6>توضیحات</h6>
            <button>جزییات</button>
        </div>
    </section>
  </body>
</html>
