body {
  background-color: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "myfont";
}

@font-face {
  font-family: "myfont";
  src: url(../assets/fonts/Vazirmatn-VariableFont_wght.ttf);
}
@font-face {
  font-family: "myfont2";
  src: url(../assets/fonts/Courgette-Regular.ttf);
}
@font-face {
  font-family: "myfont3";
  src: url(../assets/fonts/Lalezar-Regular.ttf);
}

.background {
  background-color: rgb(195, 195, 196);
}

.boxShadow {
  box-shadow: 0 2px 10px rgb(82, 81, 81);
}

.header {
  width: 100%;
  height: 50vh;
}

.shop {
  font-family: "myfont2";
}

.navbar {
  background-color: rgb(54, 53, 54);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 5px 5px 5px 5px rgb(199, 199, 199);
}

.font_size button,
.font_size a {
  font-size: 13px;
}

.navbar a {
  color: rgb(192, 192, 204);
  font-weight: bold;
}
.navbar a:hover {
  color: rgb(136, 2, 136);
}

.poster {
  width: 100%;
  height: 50vh;
}

.title {
  position: absolute;
  top: 0;
  right: -6%;
  text-align: end;
  padding: 3% 10%;
}

.title h3 {
  margin-top: 20px;
}

.card {
  background-color: rgba(182, 181, 181, 0.7);
  text-align: end;
  box-shadow: 10px 10px 20px rgb(156, 156, 156);
  border-radius: 10px;
  border: none;
}

.price::placeholder {
  text-align: end;
}

.login {
  width: 50%;
  margin-top: 5%;
}

.cart_img {
  width: 25%;
}
@media screen and (max-width: 600px) {
  .cart_img {
    width: 60%;
  }
  .cart_font {
    font-size: 10px;
  }
  .cart_btn {
    font-size: 5px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 600px) {
  .login {
    margin-top: 10%;
    width: 90%;
  }
  .login_font {
    font-size: 10px;
  }
  .cart_btn {
    font-size: 5px;
    margin: 0 10px;
  }
}

.login_main {
  height: 100vh;
  width: 100%;
  background-color: rgba(63, 125, 153, 0.849);
}

.error_500 {
  font-family: "myfont3";
}

.product_img {
  width: 100%;
  height: 20vh;
  border-radius: 10px;
}
